<div class="modal" *ngIf="modal.state | async">
  <div class="d-flex direction-column modal-container">
    <div class="d-flex j-c-end">
      <button type="button" (click)="close()">
        <img src="images/close.svg" alt="close" style="padding: 10px 10px 0 0"/>
      </button>
    </div>
    <form #form (submit)="$event.preventDefault()" class="content-container d-flex direction-column">
      <div class="title-g">Каким добрым делом хотите поделиться?</div>
      <div [class]="'d-flex j-c-start mb-20 direction-column ' + (errors.name ? 'red' :'')">
        <label class="label">Ваше имя</label>
        <input required name="name" [class]="'input ' + (errors.name ? 'red-input' :'')" placeholder="Иванов Иван"/>
      </div>
      <div [class]="'d-flex j-c-start mb-20 direction-column ' + (errors.phone ? 'red' :'')">
        <label class="label">Номер телефона</label>
        <input required name="phone" [class]="'input ' + (errors.name ? 'red-input' :'')"
               placeholder="+7(900)000-00-00"/>
      </div>
      <div [class]="'d-flex j-c-start mb-20 direction-column ' + (errors.job ? 'red' :'')">
        <label class="label">Место работы / Род деятельности</label>
        <input required name="job" [class]="'input ' + (errors.name ? 'red-input' :'')"
               placeholder="Например, сотрудник Татнефти"/>
      </div>
      <div [class]="'d-flex j-c-start mb-20 direction-column ' + (errors.email ? 'red' :'')">
        <label class="label">Ваш Email</label>
        <input name="email" type="email" [class]="'input ' + (errors.name ? 'red-input' :'')"
               placeholder="Введите свой e-mail"/>
      </div>
      <div [class]="'d-flex j-c-start mb-20 direction-column ' + (errors.description ? 'red' :'')">
        <label class="label">Здесь вы можете рассказать о своём добром деле</label>
        <textarea required name="description" [class]="'input ' + (errors.name ? 'red-input' :'')"
                  placeholder="О чём хотите рассказать?"
                  style="min-height: 104px"></textarea>
      </div>
      <button [disabled]="loading" type="submit" class="submit-btn" (click)="open()">Отправить</button>
      <div class="sub-text-g">
        Нажимая кнопку «Отправить», вы даёте согласие на обработку персональных данных и публикацию вашего ответа на
        сайте 75летсоздаемдобро.рф
      </div>
    </form>
  </div>
</div>
<app-modal-success *ngIf="modalSuccess" (onClose)="modalSuccess = false"/>
