<div class="container d-flex direction-column">
  <div class="d-flex direction-row mb-50 shadow mobile-container">
    <div class="d-flex direction-column padding-left">
      <div class="title-text">Поделиться добром</div>
      <div class="sub-text">
        Мы уверены, что каждый поступок, совершённый с добром и от чистого сердца, имеет большое значение для развития региона.
      </div>
      <div class="sub-text">
        Покрасить скамейку около подъезда, помочь пожилому человеку донести продукты до дома или провести мастер-класс по футболу для детей во дворе — всё это и многое другое делает вас частью команды созидателей.
      </div>
    </div>
    <img class="picture" src="images/3.png" alt="hand"/>
  </div>
  <div class="d-flex direction-row shadow mobile-container">
    <div class="display">
      <div class="sub-text">
        На этом сайте вы можете поделиться своими инициативами и рассказать, какие добрые дела и проекты реализуете в нашей Республике и за её пределами. Помните, доброта не нуждается в измерении, а значимость не зависит от масштаба.
      </div>
      <div class="sub-text mb-50">
        Мы ежедневно проверяем и публикуем ваши ответы на этом сайте. О самых интересных и необычных добрых делах мы расскажем в наших соцсетях. А в конце 2025 года наградим самых активных участников ценными призами от компании «Татнефть».
      </div>
      <app-button class="mt-60"></app-button>
    </div>
    <img class="picture" src="images/4.png" alt="list"/>
    <div class="d-flex direction-column padding-right relative">
      <div class="sub-text display-none">
        На этом сайте вы можете поделиться своими инициативами и рассказать, какие добрые дела и проекты реализуете в нашей Республике и за её пределами. Помните, доброта не требует измерений, а её значимость не зависит от масштаба.
      </div>
      <div class="sub-text mb-50 display-none">
        Мы ежедневно мониторим и публикуем ваши истории на этом сайте. О самых интересных и необычных добрых делах расскажем в наших социальных сетях. А в конце 2025 года наградим самых активных участников ценными призами от компании «Татнефть».
      </div>
      <app-button class="mt-60 display-none"></app-button>
      <img class="absolute flow" src="images/flow22.svg" alt="flowers"/>
    </div>
  </div>
</div>









