<div class="d-flex direction-column container mb-100">
  <p-carousel
    [page]="page"
    [value]="banners"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [showIndicators]="false"
    [showNavigators]="false"
    [class]="isMobile ? banners[page].mobColor : banners[page].color"
    (swipeleft)="touch($event)"
    (swiperight)="touch($event)"
    (swipe)="touch($event)"
    (swipedown)="touch($event)"
    (swipeup)="touch($event)"

  >
    <ng-template let-item pTemplate="item">
      <div [class]="'slide ' + (isMobile ? banners[page].mobColor : banners[page].color)">
        <img [src]="isMobile ? item.mobImage : item.image" [alt]="item.title + ' ' + item.subtitle"/>
        <div class="slide-content" [style.background-color]="isMobile && item.background">
          <div class="hashteg">#ЭтоВсеТатнефть</div>
          <div class="title">{{item.title}}</div>
          <div class="subtitle">{{item.subtitle}}</div>
          <div class="description">{{item.description}}</div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div [class]="'navigators ' + (isMobile ? banners[page].mobColor : banners[page].color)">
        <button type="button" (click)="prev()" class="mr-10">
          <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 6H3" stroke-width="1.4" stroke-linecap="square"/>
            <path d="M6 2.5L2.5 6L6 9.5" stroke="#101010" stroke-width="1.4" stroke-linecap="square"/>
          </svg>
        </button>
        <button type="button" (click)="next()">
          <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.9293 4.63447C15.2468 3.34517 12.835 0.903075 8.64858 1.44913C4.46214 1.99519 3.41553 5.62041 3.41553 7.36476"
              stroke="white" stroke-width="1.4"/>
            <path
              d="M3.87046 12.3655C4.55303 13.6548 6.96479 16.0969 11.1512 15.5509C15.3377 15.0048 16.3843 11.3796 16.3843 9.63524"
              stroke="white" stroke-width="1.4"/>
            <path d="M0.578599 4.69249L3.10015 7.99987L6.71299 5.93966" stroke="white" stroke-width="1.4"/>
            <path d="M19.4542 12.3018L16.9327 8.99439L13.3198 11.0546" stroke="white" stroke-width="1.4"/>
          </svg>
        </button>
      </div>
    </ng-template>
  </p-carousel>

</div>
