.feedback-container {

  .slide {
    margin-right: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);

    &:hover {
      -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 168, 103, 0.2);
      -moz-box-shadow: 2px 2px 20px 0px rgba(0, 168, 103, 0.2);
      box-shadow: 2px 2px 20px 0px rgba(0, 168, 103, 0.2);
    }
  }

  .p-carousel-item:last-child {
    .slide {
      margin-right: 0;
    }
  }

  .img-heart {
    width: 24px;
    height: 24px;
  }

  .counter {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #00A867;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #00A867;
    margin-bottom: 10px;
  }

  .sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #101010;
    margin-bottom: 20px;
  }

  .img-flower {
    bottom: 0;
    right: 120px;
  }

}

@media (max-width: 1050px) {
  .feedback-container {

    .slide {
      margin-right: 14px;
      padding: 20px;
    }

    .title {
      font-size: 16px;
      line-height: 22px;
    }

    .sub-title {
      font-size: 14px;
      line-height: 20px;
    }

    .img-flower {
      bottom: 0;
      right: 120px;
    }

    .mob {
      position: relative;
      flex-direction: column;
      justify-content: start;
    }

    .mob-btn {
      justify-content: start;
    }

    .mobile-btn {
      position: absolute;
      bottom: -80px;
    }

  }
}
