<div class="d-flex container j-c-space-between a-i-center padding-20" *ngIf="!isMobile">
  <img src="images/logo.svg" alt="logo"/>
  <div class="d-flex j-c-end a-i-center w-80 gap-10">
    <div class="link" (click)="toSection('about-project')">О проекте</div>
    <div class="link" (click)="toSection('')">Мероприятия</div>
    <div class="link" (click)="toSection('banner')">#ЭтоВсеТатнефть</div>
    <div class="link" (click)="toSection('tatneft-projects')">Проекты</div>
    <div class="link" (click)="toSection('share-good-things')">Благотворительность</div>
    <div class="link" (click)="toSection('faq')">FAQ</div>
  </div>
</div>
