.title-text {
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  text-align: start;
  color: #00A867;
  margin-bottom: 40px;
}

.sub-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: start;
  color: #101010;
  margin-bottom: 20px;
}

.picture {
  padding: 10px;
  width: 50%;
  border-radius: 30px;
}

.sub-text-green {
  width: 300px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: start;
  color: #00A867;
}

.padding-left {
  padding:  50px 40px 0 40px;
}

.padding-right {
  padding: 50px 40px 0 40px;
}

.flow {
  transform: rotate(-5deg);
  width: 202px;
  bottom: 0;
  right: 0px;
}

.shadow {
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}
