<div class="container d-flex direction-column shadow padding-main mt-60 mb-80">
  <div class="title-text">Создайте свой проект</div>
  <div class="d-flex direction-row mobile-container j-c-space-between">
    <div class="d-flex direction-column padding w-45">
      <div class="sub-text">
        В честь 75-летия Компании мы запускаем масштабный конкурс социально-ориентированных проектов Татнефть Профсоюза «75 лет создаем добро».
      </div>
      <div class="sub-text">Победители конкурса получат возможность реализовать проекты самых разных форматов и
        масштабов: от организации мастер-классов для ветеранов, выставок и экскурсий до создания фильмов и подкастов об
        истории «Татнефти».
      </div>
    </div>
    <div class="d-flex direction-column padding w-45">
      <div class="sub-text">Если у вас есть идеи по сохранению культурного наследия Компании, желание развивать
        волонтёрские проекты или вы знаете, как сделать мир вокруг лучше, обязательно участвуйте!
      </div>
      <div class="sub-text mb-95"> Регистрация проектов будет доступна с марта 2025 года.</div>
      <button type="button" class="btn d-flex direction-row gap-10 a-i-center j-c-center">
        <div>Старт проекта - март 2025 год</div>
        <img src="images/st.svg" alt="sr"/>
      </button>
    </div>
  </div>
</div>
