.title-text {
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  text-align: start;
  color: #00A867;
  margin-bottom: 40px;
  text-align: start;
}

.padding-main {
  padding: 75px 50px 50px 50px;
}

.sub-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: start;
  color: #101010;
  margin-bottom: 20px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-95 {
  margin-bottom: 95px;
}

.shadow {
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

.btn {
  margin-top: 40px;
  width: 313px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 20px;
  border-radius: 100px;
  border: 1px solid #000000;
}

@media (max-width: 1050px) {

  .mobile-container {
    flex-direction: column;
  }

  .padding-main {
    padding: 30px 20px;
  }

  .title-text {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 20px;
  }

  .sub-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .mt-60 {
    margin-top: 30px;
  }

  .mb-80 {
    margin-bottom: 30px;
  }

  .btn {
    text-align: start;
    margin-top: 10px;
    width: 215px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 20px;

  }

}
