<div class="container">
  <div class="picture-back d-flex direction-column j-c-start">
    <div class="title">Создать свой проект</div>
    <div class="sub-title">В честь 75-летия Компании мы запускаем масштабный конкурс социально ориентированных проектов «75 лет создаём добро».</div>
    <div class="sub-title">Победители конкурса смогут реализовать проекты совершенно разных форматов и масштабов: от организации серии полезных мастер-классов для ветеранов, выставок и экскурсий до создания целых фильмов и подкастов об истории «Татнефти».</div>
    <div class="sub-title">Если у вас есть идеи по сохранению культурного наследия «Татнефти», желание развивать волонтёрские проекты или вы знаете, как сделать мир вокруг лучше, то обязательно участвуйте!
    </div>
    <div class="sub-title">Регистрация проектов будет доступна в марте 2025 года.</div>
    <button type="button" class="btn d-flex direction-row gap-10 a-i-center j-c-center">
      <div>Подробнее</div>
      <img src="images/st.svg" alt="sr"/>
    </button>
  </div>
</div>
