.main-screen {
  border-radius: 30px;
  background-color: #E9FFF5;
  margin-top: 115px;
  margin-bottom: 30px;
}

.logo {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.container-50 {
  width: 40%;
  padding: 40px
}

.h1 {
  color: #00A867;
  font-size: 52px;
  font-weight: bolder;
  line-height: 73px;
}

.title1 {
  left: 330px;
  top: 370px;
}

.title2 {
  left: 300px;
  top: 430px;
}

.title3 {
  left: 270px;
  top: 490px;
}

.count {
  text-align: center;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  width: 147px;
  height: 235px;
  color: #000000;
  font-size: 170px;
  font-weight: 500;
  line-height: 238px;
}

.sub-text {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: end;
  color: #158D64;
}

.btn {
  margin-top: 100px;
  width: 460px;
  padding: 30px;
  border: 1px solid #00A867;
  border-radius: 100px;
  cursor: default;

  .second-img {
    display: none;
  }

  //&:hover {
  //
  //  .text-btn {
  //    color: #ffffff;
  //  }
  //
  //  .first-img {
  //    display: none;
  //  }
  //  .second-img {
  //    display: inline;
  //  }
  //
  //  background-color: #00A867;
  //}
}

.mobile2 {
  display: none;
}

.text-btn {
  text-align: start;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

@media (max-width: 1050px) {
  .main-screen {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .mobile2 {
    display: flex;
    width: 90px;
    position: absolute;
    top: 160px;
    right: 0;
  }

  .mobile1 {
    display: none;
  }

  .container-50 {
    padding: 0 20px 30px;
    width: 95%;
    align-items: start;
  }

  .logo {
    margin-top: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .count {
    width: 94px;
    height: 140px;
    font-size: 96px;
    font-weight: 500;
    line-height: 134px;
  }

  .sub-text {
    margin-top: 14px;
    font-size: 16px;
    line-height: 22px;
    text-align: start;
  }

  .btn {
    margin-top: 30px;
    width: 303px;
    padding: 20px 30px;
  }

  .title1 {
    left: 210px;
    top: 230px;
  }

  .title2 {
    left: 190px;
    top: 270px;
  }

  .title3 {
    left: 170px;
    top: 310px;
  }

  .text-btn {
    width: 260px;
    font-size: 14px;
    line-height: 16px;
  }

}
