@font-face {
  font-family: 'SuisseIntl';
  src: url('suisseintl.eot'); /* IE 9 Compatibility Mode */
  src: url('suisseintl.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('suisseintl.woff2') format('woff2'), /* Super Modern Browsers */
  url('suisseintl.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('suisseintl.ttf') format('truetype'), /* Safari, Android, iOS */
  url('suisseintl.svg#suisseintl') format('svg'); /* Chrome < 4, Legacy iOS */
}
