<div class="d-flex container main-screen j-c-space-between">
  <div class="container-50 d-flex direction-row relative">
    <img class="logo" src="images/big-logo.svg" alt="logo"/>
    <img src="images/flowers.svg" alt="flowers" class="mobile1"/>
    <img src="images/flow22.svg" alt="flowers" class="mobile2"/>
    <div class="absolute h1 title1">ЛЕТ</div>
    <div class="absolute h1 title2">СОЗДАЁМ</div>
    <div class="absolute h1 title3">ДОБРО</div>
  </div>

  <div class="container-50 d-flex direction-column a-i-end">
    <div class="counts d-flex direction-row gap-10 j-c-end">
      <div class="count">0</div>
      <div class="count">8</div>
      <div class="count">3</div>
    </div>
    <div class="sub-text">* Cчётчик добрых дел</div>
    <button type="button" class="btn d-flex a-i-center j-c-center">
      <div class="d-flex a-i-center j-c-center gap-15">
        <img class="first-img" src="images/btn.svg" alt="button"/>
        <img class="second-img" src="images/hover2.svg" alt="arrow"/>
        <div class="text-btn">Станьте частью социальных проектов «Татнефть»!</div>
      </div>
    </button>
  </div>
</div>
