<div class="container d-flex direction-column mb-120">
  <div class="d-flex direction-row mb-50 mobile-container">
    <div class="d-flex direction-column padding-left">
      <div class="title-text">О проекте</div>
      <div class="sub-text">«Татнефть» всегда стремится быть больше, чем просто бизнес. За 75 лет мы, совместно с
        сотрудниками, их семьями и жителями республики, реализовали множество значимых инициатив, которые улучшили
        качество жизни в регионе. Этот вклад заметен в каждой сфере: от экологии и здравоохранения до образования и
        культуры. И мы продолжаем работу в направлении устойчивого будущего ежедневно
      </div>
    </div>
    <img class="picture" src="images/2.png" alt="left"/>
  </div>
  <div class="d-flex direction-row mobile-container">
    <div class="display">
      <div class="sub-text">
        «75 лет создаём добро» — масштабный проект «Татнефть» в честь юбилея Компании. Мы расширяем границы и теперь
        каждый из вас может не только принять участие в инициативах, но и создать собственные! Лучшие из них будут
        реализованы при поддержке «Татнефти».
      </div>
      <div class="sub-text-green">
        Присоединяйтесь к проекту.
        Станьте частью большого движения — давайте развивать регион вместе!
      </div>
    </div>
    <img class="picture" src="images/1.png" alt="left"/>
    <div class="d-flex direction-column padding-right relative">
      <div class="sub-text display-none">
        «75 лет создаём добро» — масштабный проект «Татнефть» в честь юбилея Компании. Мы расширяем границы и теперь
        каждый из вас может не только принять участие в инициативах, но и создать собственные! Лучшие из них будут
        реализованы при поддержке «Татнефти».
      </div>
      <div class="sub-text display-none">
        Присоединяйтесь к проекту.
      </div>
      <div class="sub-text-green display-none">
        Станьте частью большого движения — давайте развивать регион вместе!
      </div>
      <img class="absolute flow" src="images/flow2.svg" alt="flowers"/>
    </div>
  </div>

</div>
