<div class="container d-flex direction-column mb-120">
  <div class="d-flex direction-row mb-100 mobile-container">
    <div class="d-flex direction-column padding-left">
      <div class="title-text">О проекте</div>
      <div class="sub-text">
        «Татнефть» всегда стремилась быть больше, чем просто бизнес. За 75 лет вместе с сотрудниками, их семьями и жителями республики мы реализовали множество значимых инициатив, которые улучшили качество жизни в регионе. Этот вклад заметен в каждой сфере: от развития образования и науки до поддержки культуры и спорта, от улучшения медицинского обслуживания до сохранения экологического баланса, от строительства инфраструктуры до внедрения инновационных технологий. Мы ежедневно работаем ради нашего общего устойчивого будущего.
      </div>
    </div>
    <img class="picture" src="images/2.png" alt="left"/>
  </div>
  <div class="d-flex direction-row mobile-container">
    <div class="display">
      <div class="sub-text">
        «75 лет создаём добро» — масштабный проект «Татнефть», посвящённый юбилею Компании. Он объединяет тех, кто ежедневно совершает добрые дела, большие и малые, меняя мир к лучшему.
      </div>
      <div class="sub-text-green">
        Присоединяйтесь к проекту, станьте частью большого движения — давайте вместе развивать регион!
      </div>
    </div>
    <img class="picture" src="images/1.png" alt="left"/>
    <div class="d-flex direction-column padding-right relative">
      <div class="sub-text display-none">
        «75 лет создаём добро» — масштабный проект «Татнефть», посвящённый юбилею Компании. Он объединяет тех, кто ежедневно совершает добрые дела, большие и малые, меняя мир к лучшему.
      </div>
      <div class="sub-text-green display-none">
        Присоединяйтесь к проекту, станьте частью большого движения — давайте вместе развивать регион!
      </div>
      <img class="absolute flow" src="images/flow2.svg" alt="flowers"/>
    </div>
  </div>
</div>



