.green-btn {
  width: 255px;
  background-color: #158D64;
  border-radius: 30px;
  padding: 5px 4px 5px 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  .second-img {
    display: none;
  }

  &:hover {

    .first-img {
      display: none;
    }

    .second-img {
      display: inline;
    }

    background-color: black;
  }
}
