<div class="container d-flex direction-column mb-120">
  <div class="d-flex direction-row mb-100 mobile-container">
    <div class="d-flex direction-column padding-left">
      <div class="title-text">О проекте</div>
      <div class="sub-text">
        «Татнефть» всегда стремилась быть больше, чем просто бизнес. За 75 лет вместе с сотрудниками, их семьями и
        жителями Республики мы реализовали множество значимых проектов. Среди них — инициативы в области образования,
        медицины, спорта, культуры, сохранения биоразнообразия, развитие инфраструктуры и внедрение инновационных
        технологий.
      </div>
    </div>
    <img class="picture" src="images/2.png" alt="left"/>
  </div>
  <div class="d-flex direction-row mobile-container">
    <div class="display">
      <div class="sub-text">
        {{about.text1}}
      </div>
      <div class="sub-text-green">
        {{about.text2}}
      </div>
    </div>
    <img class="picture" src="images/1.png" alt="left"/>
    <div class="d-flex direction-column padding-right relative">
      <div class="sub-text display-none">
        {{about.text1}}
      </div>
      <div class="sub-text-green display-none">
        {{about.text2}}
      </div>
      <img class="absolute flow" src="images/flow2.svg" alt="flowers"/>
    </div>
  </div>
</div>








