.tatneft-projects {
  .title {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: 500;
    line-height: 50px;
    color: #00A867;
  }

  .slide {
    margin-right: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px 10px 0 10px;
    -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);

    &:hover {
      -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 168, 103, 0.2);
      -moz-box-shadow: 2px 2px 20px 0px rgba(0, 168, 103, 0.2);
      box-shadow: 2px 2px 20px 0px rgba(0, 168, 103, 0.2);
    }
  }

  .p-carousel-item:last-child {
    .slide {
      margin-right: 0;
    }
  }

  .img {
    width: 320px;
    border-radius: 16px;
    margin-bottom: 20px;
  }

  .tit {
    width: 280px;
    text-align: start;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #00A867;
  }

  .light-green, .deep-green {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    padding: 4px 10px;
    border-radius: 20px;
  }

  .light-green {
    background-color: #7FBA4D;
  }

  .deep-green {
    background-color: #158D64;
  }

  .sub-tit {
    width: 280px;
    text-align: start;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #101010;
  }

  .cont {
    padding: 0 30px 30px 30px;
  }

  .p-carousel-viewport .p-carousel-item {
    flex: 0 0 31.25% !important;;
  }

  @media (max-width: 1000px) {
    .p-carousel-viewport .p-carousel-item {
      flex: 1 0 100% !important;
    }
  }
}

@media (max-width: 1050px) {
  .tatneft-projects {
    .title {
      margin-top: 60px;
      margin-bottom: 20px;
      font-size: 28px;
      line-height: 33px;
    }

    .slide {
      margin-right: 0;
      border-radius: 20px;
      background-color: #ffffff;
      padding: 10px 10px 0 10px;
      -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
      box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);

      &:hover {
        -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 168, 103, 0.2);
        -moz-box-shadow: 2px 2px 20px 0px rgba(0, 168, 103, 0.2);
        box-shadow: 2px 2px 20px 0px rgba(0, 168, 103, 0.2);
      }
    }

    .p-carousel-item:last-child {
      .slide {
        margin-right: 0;
      }
    }

    .img {
      width: 100%;
    }

    .tit {
      width: 250px;
      font-size: 16px;
      line-height: 23px;
    }

    .sub-tit {
      width: 250px;
      font-size: 14px;
      line-height: 19px;
    }

    .cont {
      padding: 0 10px 20px 10px;
    }
  }
}
