<div class="modal">
  <div class="d-flex direction-column modal-container">
    <div class="d-flex j-c-end">
      <button type="button" (click)="close()">
        <img src="images/close.svg" alt="close" style="padding: 10px 10px 0 0"/>
      </button>
    </div>
    <div class="content-container d-flex direction-column">
      <div class="title-g">
        Спасибо! После модерации ваше доброе дело появится на главном экране сайта.
      </div>
      <div class="sub-text-g" *ngIf="(settings.cases|async)?.length">
        Узнайте, какие еще добрые инициативы реализовали жители Республики
      </div>
      <button *ngIf="(settings.cases|async)?.length" (click)="toSection('feedback')" type="button" class="submit-btn">
        Посмотреть
      </button>
    </div>
  </div>
</div>
