<div class="d-flex direction-column container mb-100">
  <p-carousel
    [page]="page"
    [value]="banners"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [showIndicators]="true"
    [showNavigators]="false"
    [class]="banners[page].color"
  >
    <ng-template let-item pTemplate="item">
      <div [class]="'slide ' + item.color">
        <img [src]="item.image" [alt]="item.title + ' ' + item.subtitle"/>
        <div class="slide-content">
          <div class="hashteg">#ЭтоВсеТатнефть</div>
          <div class="title">> {{item.title}}</div>
          <div class="subtitle">{{item.subtitle}}</div>
          <div class="description">{{item.description}}</div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div [class]="'navigators gap-15 ' + banners[page].color">
        <button type="button" (click)="prev()">
          <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 6H3" stroke-width="1.4" stroke-linecap="square"/>
            <path d="M6 2.5L2.5 6L6 9.5" stroke="#101010" stroke-width="1.4" stroke-linecap="square"/>
          </svg>
        </button>
        <button type="button" (click)="next()">
          <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 6H19" stroke-width="1.4" stroke-linecap="square"/>
            <path d="M16 2.5L19.5 6L16 9.5" stroke="#101010" stroke-width="1.4" stroke-linecap="square"/>
          </svg>
        </button>
      </div>
    </ng-template>
  </p-carousel>

</div>
