app-banner {
  p-carousel {
    margin-bottom: 30px;
    position: relative;
  }

  .p-carousel-indicator-list {
    position: absolute;
    right: 60px;
    bottom: 60px;
    gap: 4px;

    .p-carousel-indicator-button {
      width: 20px;
      height: 2px;
      background: #FFFFFF33;
    }

    .p-carousel-indicator-active {
      .p-carousel-indicator-button {
        background: #FFFFFF;
      }
    }
  }

  .black {
    .p-carousel-indicator-list {
      .p-carousel-indicator-button {
        background: #00000033;
      }

      .p-carousel-indicator-active {
        .p-carousel-indicator-button {
          background: #00A867;
        }
      }
    }
  }

  .slide {
    position: relative;
    color: #FFFFFF;

    .slide-content {
      width: 450px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 60px 60px 60px 0;
    }

    .hashteg {
      font-size: 32px;
      font-weight: 500;
      line-height: 38.4px;
      margin-bottom: 90px;
    }

    .title {
      font-size: 72px;
      font-weight: 500;
      line-height: 86.4px;
      margin-bottom: 4px;
    }

    .subtitle {
      font-size: 18px;
      font-weight: 500;
      line-height: 21.6px;
      margin-bottom: 40px;
    }

    .description {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.2px;
      text-transform: uppercase;
    }

    &.black {
      color: #101010;

      .hashteg {
        color: #00A867;
      }
    }
  }

  .p-carousel-footer {
    position: absolute;
    right: 400px;
    bottom: 90px;

    .black {
      svg path {
        stroke: black;
      }
    }

    .white {
      svg path {
        stroke: white;
      }
    }
  }

}
