@font-face {
  font-family: 'SuisseIntl';
  src: url("/fonts/SuisseIntl-Regular.otf") format("opentype");
  //src: url('/fonts/suisseintl.eot'); /* IE 9 Compatibility Mode */
  //src: url('/fonts/suisseintl.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  //url('/fonts/suisseintl.woff2') format('woff2'), /* Super Modern Browsers */
  //url('/fonts/suisseintl.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  //url('/fonts/suisseintl.ttf') format('truetype'), /* Safari, Android, iOS */
  //url('/fonts/suisseintl.svg#suisseintl') format('svg'); /* Chrome < 4, Legacy iOS */
}


body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'SuisseIntl', serif;
}

a {
  text-decoration: transparent;
  color: var(--black);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  color: var(--black);

  &:hover {
    border: none;
    background-color: transparent;
  }
}

input {
  outline: none;
  text-decoration: none;
  border: none;

  &:hover, &:active, &:focus {
    outline: none;
    text-decoration: none;
    border: none;
  }
}

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.a-i-center {
  align-items: center;
}

.a-i-start {
  align-items: start;
}

.a-i-end {
  align-items: end;
}

.j-c-center {
  justify-content: center;
}

.j-c-start {
  justify-content: start;
}

.j-c-end {
  justify-content: end;
}

.j-c-space-between {
  justify-content: space-between;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  width: 1216px;
  margin: 0 auto 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.padding-20 {
  padding: 20px 0;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 10px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-120 {
  margin-top: 120px;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

markdown {
  p, ol {
    margin-top: 0;
  }

  ol {
    padding-inline-start: 19px;
  }
}
